{% extends 'base.html' %}
{% block content %}
	<div class="col-6 offset-3">
		<div style="float: left; padding: 0 20px 20px 0">
			{% for picture in object.productpictures_set.all %}
				{% if forloop.first%}
					<div>
						<img width="200px" height="200px" src="{{ picture.picture.url }}" alt="picture" />
					</div>
				{% else %}
					<img width="50px" height="50px" src="{{ picture.picture.url }}" alt="picture" />
				{% endif %}
			{% endfor %}
		</div>
		<div>
			<p>Name: {{ object.name }}</p>
			<p>Price: {{ object.price }}</p>
			<p>Stock: {{ object.stock }}</p>
			{% if object.stock %}
				{% if is_added %}
					<p class="btn btn-danger">Already added</p>
				{% else %}
					<input type="number" id="quantity" name="quantity" min="1" max="{{ object.stock}}" />
					<button id="add_product" type="button" class="btn btn-primary">Add cart</button>
				{% endif %}
			{% endif %}
			<input type="hidden" name="csrfToken" value="{{ csrf_token }}" />
		</div>
	</div>
	<script>
		$('#add_product').click(() => {
			let quantity = $("#quantity").val()
			let token = $("input[name='csrfToken']").attr('value')
			$.ajaxSetup({
				beforeSend: (xhr) => {
					xhr.setRequestHeader('X-CSRFToken', token)
				}
			})
			$.ajax({
				url: "{% url 'stores:add_product' %}",
				type: 'POST',
				data: {
					product_id: "{{ object.id }}",
					quantity: quantity,
				},
				dataType: "json",
				success: (json) => {
					console.log('error')
					if (json.message) {
						$('#add_product').attr('class', 'btn btn-danger')
						$('#add_product').html('Already added')
						$('#add_product').prop('disabled', true)
						alert(json.message)
					}
				},
				error: (error) => {
					alert(error.responseJSON.message)
				}
			})
		})
	</script>
{% endblock %}